@page
@functions
{
  public void OnGet()
  {ViewData["Title"] = "Halsband";}
}

@*<div >
<hr />
        <a class="btn btn-primary"href="Necklace">Necklace sidan</a> <!-- https://localhost:44340/api/Necklace -->
</div>*@


<hr />

<section>
     <div class="box">
         <a class="btn btn-primary"href="Necklace">Necklace sidan</a> <!-- https://localhost:44340/api/Necklace -->
 </div>

    </section>